{% extends "main.html" %}
{% load space_in_earth %}
{% load comments %}
{% block body %}

<div id="post">
  {% autoescape off %}
  <p class="header">
    <a href="/{{ header_post.id }}/"><h3>{{ header_post.header }}</h3></a>
  </p>
  <div class="prepost">{{ header_post.prepost }}</div>
  <div class="prepost">{{ header_post.post }}</div>
  <p></p>
  <div class="footer_post">
    <div class="date">{{ header_post.date_pub }}</div>
    <p></p>
    <div class="tags"> 
      Теги:&nbsp;&nbsp;{% for i in tags_obr %}
      <a href="/tags/{{ i|inearth }}/">{{ i }}, </a> 
      {% endfor %}
    </div>
  </div>
  <div class="lines"><img src="/static/images/line.gif" alt="line" /></div>
  <br>
  <div class="comments0">Комментарии:</div>
  <div class="comments">{% render_comment_list for header_post %}</div>
  <div class="comments2">{% render_comment_form for header_post %}</div>
  {% endautoescape %}
  <p></p>
  <p><div id="cprg">© le087's blog 2011-2012</div></p>
</div>

<div id="right_block">
  {% include "right_menu.html" %}
</div>
{% endblock%}



