{% extends "main.html" %}
{% load space_in_earth %}
{% load comments %}
    {% block body %}

<table align="center" width="1010" margin="0" padding="0" cellspacing="0" cellpadding="0" border="0" >
  <tr>
    <td id="posts" width="800px">
     {% autoescape off %}
      <p id="header"> <a href="http://127.0.0.1:8000/{{ header_post.id }}/"><h3>{{ header_post.header }}</h3></a></p>
      <p>{{ header_post.prepost }}</p>
      <p>{{ header_post.post }}</p>
      <p>{{ header_post.date_pub }}</p>
      <p>{% for i in tags_obr%}
	      <a href="http://127.0.0.1:8000/tags/{{ i|inearth }}/"> {{ i }}, </a> 
	 {% endfor %}
      </p>     
        <p>{% render_comment_list for header_post %}</p>
           {% render_comment_form for header_post %}
     {% endautoescape %}
    </td>
    <td id="left_menu" width="210px">
      {% for i in categ_obr %}
         <p><a href="http://127.0.0.1:8000/categories/{{ i|inearth }}">{{ i }}</a></p>
      {% endfor %}
    </td>
  </tr>
</table>

    {% endblock%}
    {% block bottom %}

<table align="center" width="1010" margin="0" padding="0" cellspacing="0" cellpadding="0" border="0" >
  <tr>
    <td height="40"></td>
  </tr>
</table>

    {% endblock%}
