{% extends "main.html" %}
{% load space_in_earth %}
{% load comments %}
    {% block body %}

<table class="maintable" align="center" margin="0" padding="0" cellspacing="0" cellpadding="0" border="0" >
  <tr>
    <td id="posts" width="800px">
     {% autoescape off %}
      <p class="header"> <a href="/{{ header_post.id }}/"><h3>{{ header_post.header }}</h3></a></p>
      <div class="prepost">{{ header_post.prepost }}</div>
      <div class="prepost">{{ header_post.post }}</div>
      <table width="800px" margin="0" padding="0" cellspacing="0" cellpadding="0" border="0">
        <tr>
	  <td>
	    <p></p>
	    <div class="date">{{ header_post.date_pub }}</div>
	  </td>
	  <td class="tags">
	    <p></p>
	    <div> Теги:&nbsp;&nbsp;{% for i in tags_obr %}
	           <a href="/tags/{{ i|inearth }}/">{{ i }}, </a> 
                  {% endfor %}
	    </div>
	  </td>
        </tr>
      </table>
      <div class="lines"><img src="/static/images/line.gif" alt="line" /></div>
      <br>
      <div class="comments0">Комментарии:</div>
      <div class="comments">{% render_comment_list for header_post %}</div>
      <div class="comments2">{% render_comment_form for header_post %}</div>
         {% endautoescape %}
	  <p></p>
	  <p><div class="cprg">© le087's blog 2011-2012</div></p>
    </td>
    <td id="right_menu" width="210px">
      <div>Категории:</div> 
      {% for i in categ_obr %}
         <div><a href="/categories/{{ i|inearth }}">{{ i }}</a></div>
      {% endfor %}
    </td>
  </tr>
</table>

    {% endblock%}
    {% block bottom %}

<table align="center" width="1010" margin="0" padding="0" cellspacing="0" cellpadding="0" border="0" >
  <tr>
    <td height="40"></td>
  </tr>
</table>

    {% endblock%}
