{% load space_in_earth %}
<div id="categories">Категории:</div> 
{% for i in categ_obr %}
  {% if i.enabled %}
    <div class="categories"><a href="/categories/{{ i.categ|inearth }}">{{ i.categ }}</a></div>
  {% endif %}
{% endfor %}
<br />
<div>
  <div id="tags_right">Облако тегов:</div>
  <div class="tag_right">{% for i in cloud_tags %}
    <a href="/tags/{{ i|inearth }}">{{ i }}</a>
  {% endfor %}</div>
</div>
<br />
<div>
  <div id="tags_right">Мои проекты:</div>
  <div class="tag_right"><a href="http://github.com/le087/velomak" title="Репозиторий моего движка Velomak на GitHub">VeloMak</a></div>
  <div class="tag_right"><a href="http://pass.le087.ru/" title="Генератор человекоподобных паролей и запоминающихся ников">Генератор паролей</a></div>
  <div class="tag_right"><a href="http://battle.le087.ru/" title="Учебная игра Морской Бой">Морской бой</a></div>
</div> 
<br />
<div>
  <div id="tags_right">Ссылки:</div>
  <div class="tag_right"><a href="http://welinux.ru" title="Прекрасный сайт для нефанатичных линуксойдов">Welinux</a></div>
  <div class="tag_right"><a href="http://radio-t.com/" title="Великолепный подкаст на IT темы">Radio-T</a></div>
  <div class="tag_right"><a href="http://arimanta.org" title="Маленькие полезные заметки по Linux">Блог Ариманты</a></div>
</div> 


