{% extends "main.html" %}
{% load pagination_tags %}
{% load space_in_earth %}
{% load comments %}

{% block meta %}
<meta name="keywords" content="{{ meta }}">
{% endblock %}

{% block top_menu%}
{% for i in section_posts %}
{% if i.enabled %}
<div class="item_menu">
  <a href="/section/{{ i.section|inearth }}">{{ i.section }}</a>
</div>
{% endif %}
{% endfor %}
{% endblock %}

{% block body %}
<div id="post">
 {% autoescape off %}
 {% autopaginate header_list 7 %}
 {% for i in header_list %}
 {% if i.flag_enabled %}
 <a class="header_post" href="/{{ i.id }}/"><h3>{{ i.header }}</h3></a>      
 <div class="prepost"> {{ i.prepost }}</div>
 <p></p>
 <div class="date">{{ i.date_pub }}</div>
 <div class="tags"> 
   Теги:&nbsp;&nbsp;{% for n in i.tags.all %}
   <a href="/tags/{{ n.tag|inearth }}/">{{ n.tag }}{% if not forloop.last %}, {% endif %}</a>
   {% endfor %}
 </div>
 <div class="coments">{{ i.get_count_comments }} комментариев было оставлено на пост.</div>
 <div class="lines"><img src="/static/images/line.gif" alt="line" /></div>
 {% endif %}
 {% endfor  %}
 <p></p>
 <div class="paginate">{% paginate %}</div>
 {% endautoescape %}
 <p></p>
 <p><div id="cprg">© le087's blog 2011-2012</div></p>
</div>

<div id="right_block">
  {% include "right_menu.html" %}
</div>
{% endblock%}
