{% extends "main.html" %}
{% load pagination_tags %}
{% load space_in_earth %}
{% load comments %}

    {% block body %}

<table class="maintable" align="center" margin="0" padding="0" cellspacing="0" cellpadding="0" border="0" >
  <tr>
    <td id="posts" width="800px">
     {% autoescape off %}
      {% autopaginate header_list 7 %}
      {% for i in header_list %}
      <a class="header" href="http://127.0.0.1:8000/{{ i.id }}/"><h3>{{ i.header }}</h3></a>      
      <div class="prepost"> {{ i.prepost }}</div>
      <table width="800px" margin="0" padding="0" cellspacing="0" cellpadding="0" border="0">
        <tr>
	  <td>
	    <p></p>
	    <div class="date">{{ i.date_pub }}</div>
	  </td>
	  <td class="tags">
	    <p></p>
	    <div> {% for n in tags_obr %}
	         {% if n.0 == i.id %}
	          Теги:&nbsp;&nbsp;
	          {% for p in n.1 %}
	           <a href="http://127.0.0.1:8000/tags/{{ p|inearth }}/">{{ p }}, </a> 
	          {% endfor %}
	         {% endif%}
	        {% endfor %}
	    </div>
	  </td>
        </tr>
      </table>
          {% get_comment_count for i as comment_count %}
       <div class="coments">{{ comment_count }} комментариев было оставлено на пост.</div>
      <div class="lines"><img src="http://127.0.0.1:8000/static/images/line.gif" alt="line" /></div>
      {% endfor  %}
      <p></p>
      <div class="paginate">
	{% paginate %}
      </div
     {% endautoescape %}
	 <p></p>
	<p><div class="cprg">© le087's blog 2011-2012</div></p>
    </td>
    <td id="right_menu">
      <div>Категории:</div> 
      {% for i in categ_obr %}
         <div><a href="http://127.0.0.1:8000/categories/{{ i|inearth }}">{{ i }}</a></div>
      {% endfor %}
    </td>
  </tr>
</table>

    {% endblock%}


    {% block bottom %}

<table align="center" width="1010" margin="0" padding="0" cellspacing="0" cellpadding="0" border="0" >
  <tr>
    <td height="40"></td>
  </tr>
</table>

    {% endblock%}
