body {
    margin: 0;
    padding: 0;
    font-family: Verdana, "Lucida Grande", Tahoma, Helvetica, sans-serif;
    color: #000;
    background: #fff url("http://127.0.0.1:8000/static/images/top.png") no-repeat center top;
}

#test {
    color:red;
}

#name_site {
    font-family: "Georgia", "Times", serif;
    font-size: 3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 35px;
    border: medium none currentColor;
}

#site_slogan {
    font: italic 1em "Georgia", "Times", serif;
    margin-top: 0px;
}

#top_table {
    text-align: center;    
}

a {
    color: #000;
    text-decoration: none;
}

.header {
    text-align: center;
}

#left_menu{
    vertical-align: top;
    text-align: left;
    padding-left: 15px;
}