body {
    margin: 0;
    padding: 0;
    font-family: Verdana, "Lucida Grande", Tahoma, Helvetica, sans-serif;
    color: #000;
    background: #fff url("/static/images/top.png") no-repeat center top;
}

.maintable {
    width: 1010px
}

#test {
    color:red;
}

#name_site {
    font-family: "Georgia", "Times", serif;
    font-size: 3em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 35px;
    border: medium none currentColor;
}

#site_slogan {
    font: italic 1em "Georgia", "Times", serif;
    margin-top: 0px;
}

#top_table {
    text-align: center;    
    width: 1010px;
}

.top_menu {
    text-align: left;
    font-family: "Georgia", "Times", serif;
    font-size: 1.2em;
    vertical-align: center;
}

a {
    color: #000;
    text-decoration: none;
}

.header {
    text-align: center;
}

.prepost {
    text-align: justify;
}

.date {
    text-align: left;
    font-family: "Georgia", "Times", serif;
    font-size: 1.0em;
    vertical-align: center;
    width: 400px;
}

.tags {
    text-align: right;
    font-family: "Georgia", "Times", serif;
    font-size: 1.0em;
    vertical-align: center;
    width: 400px;
}

body a:hover {
    color: #336699;
}

a:hover.tags {
    text-align: right;
    font-family: "Georgia", "Times", serif;
    font-size: 1.0em;
    vertical-align: center;
    color: gray;
}

.coments {
    text-align: left;
    font-family: "Georgia", "Times", serif;
    font-size: 1.0em;
    vertical-align: center;
}

#right_menu {
    font-family: "Georgia", "Times", serif;
    text-align: right;
    padding-left: 15px;
    vertical-align: top;
    font-size: 1.2em;
    padding-top: 85px;
}

.cprg {
    text-align: center;
    font-family: "Georgia", "Times", serif;
    font-size: 0.9em;
    vertical-align: center;
}

.lines {
    text-align: center;
}

.paginate {
    text-align: center;
    font-family: "Georgia", "Times", serif;
    font-size: 1.5em;
    vertical-align: center;
}


h3 {
    text-align: center;
    font-family: "Georgia", "Times", serif;
    font-size: 1.8em;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: normal
}

.comments2 {
    text-align: right;
    font-family: "Georgia", "Times", serif;
    font-size: 1.2em;
    vertical-align: center;
}

.comments {
    text-align: left;
    font-family: "Georgia", "Times", serif;
    font-size: 1.2em;
    vertical-align: center;
}

.comments0 {
    text-align: center;
    font-family: "Georgia", "Times", serif;
    font-size: 1.5em;
    vertical-align: center;
}